//==========  Layouts  ==========//

// these are our base layout mixins
// call in /core/_site.scss on the body rule
// layout options are -
// 
// columns-three()          - all visible, collapses to centre-right
// columns-three(left)      - all visible, collapses to centre-left - requires flexbox
// 
// columns-two-left()       - centre-left only
// columns-two-left(all)    - centre-left, all visible - requires flexbox
// 
// columns-two-right()      - centre-right only
// columns-two-right(all)   - centre-right, all visible
// 
// columns-two-equal()      - left-right only, equal width
// columns-two-equal(all)   - all visible, equal width
// 
// columns-one()            - centre only, full width
// columns-one(all)         - all visible and stacked, full width


@mixin columns-three($order: right) {

    @if $order != left 
    {
        .column {

            &.left {
                display: block;
                // set the column to use flexbox
                // we can now switch the order of the sub-nav between mobile/desktop
                display: flex;
                flex-direction: column;
                width: 100%;

                @media #{$mobileXL} {
                    clear: both;
                }

                @media #{$tabletXL} {
                    clear: none;
                    float: left;
                    width: $columns-three-left;
                    margin-left: -100%;
                }   
            }

            &.right {
                display: block;

                @media #{$mobileXL} {
                    float: right;
                    width: $columns-three-right-small;
                }

                @media #{$tabletXL} {
                    width: $columns-three-right;
                    margin-right: -($columns-three-right);
                    left: -($columns-three-right);
                }
            }

            &.centre {
                display: block;

                @media #{$mobileXL} {
                    float: left;
                    width: calc(100% - (#{$columns-three-right-small} + #{$gutter-three-right-small}));
                }

                @media #{$tabletXL} {
                    margin-right: calc(#{$columns-three-right} + #{$gutter-three-right});
                    margin-left: calc(#{$columns-three-left} + #{$gutter-three-left});
                    width: calc(100% - (#{$columns-three-left} + #{$gutter-three-left}) - (#{$columns-three-right} + #{$gutter-three-right}));
                }
            }
        }
    }
    @else 
    {
        .main {
            display: flex;
            flex-flow: row wrap;
        }

        .column {

            &.left {
                order: 3;
                display: block;
                // set the column to use flexbox
                // we can now switch the order of the sub-nav between mobile/desktop
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;

                @media #{$tabletXL} {
                    order: 1;
                    width: $columns-three-left;
                    margin-left: -100%;
                }  
            }

            &.centre {
                order: 1;
                width: 100%;
                margin: 0;
                
                @media #{$mobileXL} {
                    order: 1;
                    margin-right: $gutter-three-right-small;
                    margin-left: 0;
                    width: calc(100% - (#{$columns-three-right-small} + #{$gutter-three-right-small}));
                }

                @media #{$tabletXL} {
                    order: 2;
                    margin-right: $gutter-three-right;
                    margin-left: $gutter-three-left;
                    width: calc(100% - (#{$columns-three-left} + #{$gutter-three-left}) - (#{$columns-three-right} + #{$gutter-three-right}));
                }
            }
            
            &.right {
                order: 2;
                display: block;
                left: 0;
                width: 100%;
                margin: 0;

                @media #{$mobileXL} {
                    width: $columns-three-right-small;
                }
                
                @media #{$tabletXL} {
                    order: 3;
                    left: 0;
                    width: $columns-three-right;
                    margin: 0;
                }
            }
        }
    }
}


@mixin columns-two-left($show: none) {

    .column {

        @if $show != all
        {
            &.right {
                display: none;
            }
        }

        &.left {
            display: block;
            // set the column to use flexbox
            // we can now switch the order of the sub-nav between mobile/desktop
            display: flex;
            flex-direction: column;
            width: 100%;
            clear: none;
            margin: 0;

            @media #{$mobileXL} {
                float: left;
                width: $columns-two-left-small;
            }

            @media #{$tabletXL} {
                width: $columns-two-left;
            }
        }

        &.centre {
            display: block;
            width: 100%;
            margin: 0;

            @media #{$mobileXL} {
                float: right;
                width: calc(100% - (#{$columns-two-left-small} + #{$gutter-two-left-small}));
            }

            @media #{$tabletXL} {
                width: calc(100% - (#{$columns-two-left} + #{$gutter-two-left}));
            }
        }
    }

    @if $show == all {
        .main {
            display: flex;
            flex-flow: row wrap;
        }

        .column {

            &.left {
                order: 3;
                display: block;
                // set the column to use flexbox
                // we can now switch the order of the sub-nav between mobile/desktop
                display: flex;
                flex-direction: column;

                @media #{$mobileXL} {
                    order: 1;
                }
            }

            &.centre {
                order: 1;
                
                @media #{$mobileXL} {
                    order: 2;
                    margin-left: $gutter-two-left-small;
                }

                @media #{$tabletXL} {
                    margin-left: $gutter-two-left;
                }
            }
            
            &.right {
                order: 2;
                display: block;
                left: 0;
                width: 100%;
                margin: 0;

                @media #{$mobileXL} {
                    order: 3;
                }
            }
        }
    }
}


@mixin columns-two-right($show: none) {
    .column {
        
        @if $show != all
        {
            &.left {
                display: none;
            }    
        }
        @else 
        {
            &.left {
                display: block;
                // set the column to use flexbox
                // we can now switch the order of the sub-nav between mobile/desktop
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
            }
        }
        

        &.right {
            display: block;
            // set the column to use flexbox
            // we can now switch the order of the sub-nav between mobile/desktop
            display: flex;
            flex-direction: column;
            left: 0;
            width: 100%;
            margin: 0;

            @media #{$mobileXL} {
                float: right;
                width: $columns-two-right-small;
            }

            @media #{$tabletXL} {
                width: $columns-two-right;
            }
        }

        &.centre {
            display: block;
            width: 100%;
            margin: 0;

            @media #{$mobileXL} {
                float: left;
                width: calc(100% - (#{$columns-two-right-small} + #{$gutter-two-right-small}));
            }

            @media #{$tabletXL} {
                width: calc(100% - (#{$columns-two-right} + #{$gutter-two-right}));
            }
        }
    }
}


@mixin columns-two-equal($show: none) {
    .column {

        &.right,
        &.left {
            display: block;
            left: 0;
            width: 100%;
            margin: 0;

            @media #{$mobileXL} {
                float: right;
                width: calc(50% - (#{$gutter-two-equal-small} / 2));
            }

            @media #{$tabletXL} {
                width: calc(50% - (#{$gutter-two-equal} / 2));
            }
        }

        &.left {

            @media #{$mobileXL} {
                float: left;
                clear: none;
            }
        }

        @if $show != all
        {
            &.centre {
                display: none;
            }
        }
        @else 
        {
            &.centre {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
}


@mixin columns-one($show: none) {
    .column {

        @if $show != all 
        {
            &.right,
            &.left {
                display: none;
            }
        }
        @else
        {
            &.right,
            &.left {
                display: block;
                width: 100%;
                margin: 0;
                left: 0;
            }
            
            // set the column to use flexbox
            // we can now switch the order of the sub-nav between mobile/desktop
            &.left {
                display: flex;
                flex-direction: column;
            }
        }

        &.centre {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
}
